In [1]:
import pandas as pd
import warnings

In [2]:
pd.set_option("display.max_colwidth", 200)
warnings.filterwarnings("ignore")

In [3]:
#depressive_1 = pd.read_csv("data/datasets/depressive_tweets_1.csv", encoding="latin-1")
#depressive_2 = pd.read_csv("data/datasets/depressive_tweets_2.csv", encoding="latin-1")
#scraped_1 = pd.read_csv("data/twint/keyword_scraped_tweets.csv", encoding="latin-1")
#scraped_2 = pd.read_csv("data/twint/hashtags_scraped_tweets.csv", encoding="latin-1")
#random_1 = pd.read_csv("data/datasets/random_tweets.csv", encoding="latin-1")
#random_2 = pd.read_csv("data/datasets/sentiment140.csv", encoding="latin-1")

### Prepare depressive_1

In [4]:
depressive_1 = pd.read_csv("data/datasets/depressive_tweets_1.csv", encoding="latin-1")
depressive_1.head()

,Unnamed: 0,id,time,tweet,hashtags,cashtags
0,0,1.15135E+18,21:25:13,"Wow, my dad yday: âyou donât take those stupid depression drugs anymore though, do you? Because theyâre the absolute worst thing [and there is never a need for them]!â Ainât it great wh...",[],[]
1,1,1.15135E+18,21:25:07,what part of this was really harmfult of a lot of people and went against every guideline do you not understand. 13rw was not a horror show but it was supposed to be an insight into depression and...,[],[]
2,2,1.15135E+18,21:25:06,one of the ways I got through my #depression is learning how to dance in the rain! It was a source of my strength to be stronger than my circumstances #UncoveringthenewU #ChangeYourMindChangeYourC...,"['#depression', '#uncoveringthenewu', '#changeyourmindchangeyourcircumstances']",[]
3,3,1.15135E+18,21:24:55,"see i wanna do one of them but they all say that if you have PTSD, depression, and/or anxiety to not play so LIKEE",[],[]
4,4,1.15135E+18,21:24:51,IS IT clinical depression or is it the palpable hopelessness of my generation?,[],[]

In [5]:
depressive_1 = depressive_1.loc[:, ["tweet"]]
depressive_1.head()

                                                                                                                                                                                                     tweet
0  Wow, my dad yday: âyou donât take those stupid depression drugs anymore though, do you? Because theyâre the absolute worst thing [and there is never a need for them]!â  Ainât it great wh...
1  what part of this was really harmfult of a lot of people and went against every guideline do you not understand. 13rw was not a horror show but it was supposed to be an insight into depression and...
2  one of the ways I got through my #depression is learning how to dance in the rain! It was a source of my strength to be stronger than my circumstances #UncoveringthenewU #ChangeYourMindChangeYourC...
3                                                                                       see i wanna do one of them but they all say that if you have PTSD, depression, and/or anxiety to not play so LIKEE
4                                                                                                                           IS IT clinical depression or is it the palpable hopelessness of my generation?

In [6]:
depressive_1["Depressive"] = 1
depressive_1.rename(columns = {'tweet':'Tweet'}, inplace = True)
depressive_1.head()

,Tweet,Depressive
0,"Wow, my dad yday: âyou donât take those stupid depression drugs anymore though, do you? Because theyâre the absolute worst thing [and there is never a need for them]!â Ainât it great wh...",1
1,what part of this was really harmfult of a lot of people and went against every guideline do you not understand. 13rw was not a horror show but it was supposed to be an insight into depression and...,1
2,one of the ways I got through my #depression is learning how to dance in the rain! It was a source of my strength to be stronger than my circumstances #UncoveringthenewU #ChangeYourMindChangeYourC...,1
3,"see i wanna do one of them but they all say that if you have PTSD, depression, and/or anxiety to not play so LIKEE",1
4,IS IT clinical depression or is it the palpable hopelessness of my generation?,1

### Prepare depressive_2

In [7]:
depressive_2 = pd.read_csv("data/datasets/depressive_tweets_2.csv", encoding="latin-1")
depressive_2.head()

,1.04502072805411E+018,2018-09-27,00:12:11,India Standard Time,14303234,15dozentimes,"It's always kind of weird when the depression manifests as actually feeling sad, rather than as a formless void",1,0,0.1,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,1.045021e+18,2018-09-27,00:12:06,India Standard Time,7.655485e+17,taIizzle,i was severely depressed during the summer of 2017* that i seriously thought what i have isnt depression anymore it surpassed it that iâm the first holder of a new worse mental illness,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.045021e+18,2018-09-27,00:12:02,India Standard Time,1.043997e+18,DragonQueenHalo,"What it's like to be me: I wake up in a panic knowing all the things that have to get done today, already dreading the moment my feet touch the ground. #MentalHealthIssues #Anxienty #Depression",0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.045021e+18,2018-09-27,00:12:00,India Standard Time,4.027673e+08,jnnfrsbdy,"@aquariusguts bpd, anxiety and depression ð»",0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.045021e+18,2018-09-27,00:11:48,India Standard Time,8.204317e+17,MeganeMea,Depression makes you forget you were trying to not gain weight,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.045021e+18,2018-09-27,00:11:48,India Standard Time,2.677009e+08,heartCHANGMIN,can we really survive depression???? https://twitter.com/depressionarmy/status/1045015996321476608Â â¦,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
depressive_2 = depressive_2.iloc[:, lambda depressive_2 : [6]]
depressive_2.head()

                                                                                       It's always kind of weird when the depression manifests as actually feeling sad, rather than as a formless void
0           i was severely depressed during the summer of 2017* that i seriously thought what i have isnt depression anymore it surpassed it that iâm the first holder of a new worse mental illness
1  What it's like to be me: I wake up in a panic knowing all the things that have to get done today, already dreading the moment my feet touch the ground.   #MentalHealthIssues #Anxienty #Depression
2                                                                                                                                                       @aquariusguts bpd, anxiety and depression ð»
3                                                                                                                                       Depression makes you forget you were trying to not gain weight
4                                                                                             can we really survive depression????  https://twitter.com/depressionarmy/status/1045015996321476608Â â¦

In [9]:
depressive_2.columns = ["Tweet"]
depressive_2["Depressive"] = 1

In [10]:
depressive_2.head()

,Tweet,Depressive
0,i was severely depressed during the summer of 2017* that i seriously thought what i have isnt depression anymore it surpassed it that iâm the first holder of a new worse mental illness,1
1,"What it's like to be me: I wake up in a panic knowing all the things that have to get done today, already dreading the moment my feet touch the ground. #MentalHealthIssues #Anxienty #Depression",1
2,"@aquariusguts bpd, anxiety and depression ð»",1
3,Depression makes you forget you were trying to not gain weight,1
4,can we really survive depression???? https://twitter.com/depressionarmy/status/1045015996321476608Â â¦,1

### Prepare scraped_1

In [11]:
scraped_1 = pd.read_csv("data/twint/keyword_scraped_tweets.csv", encoding="latin-1")
scraped_1.head()

,Unnamed: 0,Tweet,Depressive
0,0,@DrRPNishank Sir please cancel our board exam because abhi hm students bahut depression mai h #cancelboardexams #CancelAllBoardExams,1
1,1,"The travelers cure depression, I speak the truth",1
2,2,"@DrRPNishank they also have the feeling of uncertainty, doubt, fear, tension, sadness and because of all these diffâ¦ https://t.co/5i8sbwU8or",1
3,3,@ComicDaveSmith My generation has had its generation harmed by its parents' paranoia in not letting their childrenâ¦ https://t.co/vftULXJESc,1
4,4,Is sex really the answer to cope up with depression? Hays. https://t.co/YigFcfPeq0,1

In [12]:
scraped_1 = scraped_1.loc[:, ["Tweet", "Depressive"]]
scraped_1.head()

,Tweet,Depressive
0,@DrRPNishank Sir please cancel our board exam because abhi hm students bahut depression mai h #cancelboardexams #CancelAllBoardExams,1
1,"The travelers cure depression, I speak the truth",1
2,"@DrRPNishank they also have the feeling of uncertainty, doubt, fear, tension, sadness and because of all these diffâ¦ https://t.co/5i8sbwU8or",1
3,@ComicDaveSmith My generation has had its generation harmed by its parents' paranoia in not letting their childrenâ¦ https://t.co/vftULXJESc,1
4,Is sex really the answer to cope up with depression? Hays. https://t.co/YigFcfPeq0,1

### Prepare scraped_2

In [13]:
scraped_2 = pd.read_csv("data/twint/hashtags_scraped_tweets.csv", encoding="latin-1")
scraped_2.head()

,Unnamed: 0,Unnamed: 0.1,Tweet,Depressive
0,0,1,"I work so hard with 1-2 jobs and school that all I do during ""days off"" and ""free time"" is sleep...ð¢ #depression #tbh",1
1,1,2,Teen moms face a number of #mentalhealth conditions related to childbirth and being a new mom at an early age whichâ¦ https://t.co/WqasSrHQsf,1
2,2,3,Itâs very hard to watch someone you love slip away from you and confusing when you don't understand why. Our articlâ¦ https://t.co/uWuD79fSAw,1
3,3,5,"Financial catastrophe is the bedrock to suicidal thoughts and when the emotions gets going , a voice keeps saying",1
4,4,8,"Cry, forgive and just move on...let your tears water the seeds of your future happiness â¤ï¸\r\n#Sad #depression #tearsâ¦ https://t.co/Po7qKrsj4s",1

In [14]:
scraped_2 = scraped_2.loc[:, ["Tweet", "Depressive"]]
scraped_2.head()

,Tweet,Depressive
0,"I work so hard with 1-2 jobs and school that all I do during ""days off"" and ""free time"" is sleep...ð¢ #depression #tbh",1
1,Teen moms face a number of #mentalhealth conditions related to childbirth and being a new mom at an early age whichâ¦ https://t.co/WqasSrHQsf,1
2,Itâs very hard to watch someone you love slip away from you and confusing when you don't understand why. Our articlâ¦ https://t.co/uWuD79fSAw,1
3,"Financial catastrophe is the bedrock to suicidal thoughts and when the emotions gets going , a voice keeps saying",1
4,"Cry, forgive and just move on...let your tears water the seeds of your future happiness â¤ï¸\r\n#Sad #depression #tearsâ¦ https://t.co/Po7qKrsj4s",1

## Prepare final_depressive_dataset
### The dataset will be prepared by merging depressive_1, depressive_2, scraped_1 & scraped_2

In [16]:
dataFrames = [depressive_2, depressive_1, scraped_1, scraped_2]
depressive_dataset = pd.concat(dataFrames)
print(f"No. of records : {len(depressive_dataset)}")

No. of records : 205714

In [19]:
depressive_dataset.head(20)

,Tweet,Depressive
0,i was severely depressed during the summer of 2017* that i seriously thought what i have isnt depression anymore it surpassed it that iâm the first holder of a new worse mental illness,1
1,"What it's like to be me: I wake up in a panic knowing all the things that have to get done today, already dreading the moment my feet touch the ground. #MentalHealthIssues #Anxienty #Depression",1
2,"@aquariusguts bpd, anxiety and depression ð»",1
3,Depression makes you forget you were trying to not gain weight,1
4,can we really survive depression???? https://twitter.com/depressionarmy/status/1045015996321476608Â â¦,1
5,@shilohwalker Much love to you and your family. Depression and mental illness are killers....I fight it every day. Your mind and heart need rest and peace. Books can wait.,1
6,CUTTING MY HAIR WONT CURE MY DEPRESSION,1
7,"@HereForTheTea2 I knew that she felt bullied. Just think, one tweet or one video could be the one that makes someone take their life. Depression is real. There shouldnât be any questions about t...",1
8,Not all mental health is depression jack ass https://twitter.com/jessicahardy_0/status/1044564980249563136Â â¦,1
9,"Iâm blind and cannot see to read this. Also, I have listened to plenty of literature on depression, know several people who have it, and I have it myself. Is this a promotion of your book or bec...",1
10,"Yeah I'm resurrecting this thread again just in case you didn't remember that Richard ""Lowtax"" Kyanka literally kept a person on staff who said ""suicidal depression isn't claiming furries fast eno...",1
11,I was able to let go of my lifetime depression under your patient and loving guidance #soulecting #arttherapy http://bit.ly/1ViKoCxÂ #soulecting,1
12,In 2015 my depression was so bad I started having auditory hallucinations. And now I donât have them at all.,1
13,Thank you so much to Shepherd House who is another New Friend ð¤ on â¤ï¸ Twitter! I hope you enjoy ð my Tweets ð â½ï¸ x https://twitter.com/ShepherdHouse2#AnxietyÂ â¦ #Depression #An...,1
14,Thank you so much to Coral Ward LGH who is another New Friend ð¤ on â¤ï¸ Twitter! I hope you enjoy ð my Tweets ð â½ï¸ x https://twitter.com/CoralWardLGH#AnxietyÂ â¦ #Depression #Ange...,1
15,"Eating a Mediterranean diet with plenty of fish, fruit, vegetables and nuts slashes the risk of depression by 33% https://dailym.ai/2OdRJcPÂ",1
16,"Idk, maybe I need to leave, or go on a trip or something. This depression shit ain't getting any better.",1
17,Not bein fuckin funny but Trisha paytasâ songs are the cure for depression,1
18,"To be very honest, social media has glorified #depression so well that millennials are using it as an excuse for any smallest challenge in their lives!",1
19,seasonal depression wanted me to introduce her to you all. she said hey!,1

In [20]:
depressive_dataset.tail(20)

,Tweet,Depressive
339,I had to chop Â½ what I wanted to say out of that tweet I'm not trying to imply Wills &amp; Kate can provide 1000s of meâ¦ https://t.co/YvUzreHumM,1
340,Artificial intelligence:\r\nA rapid case for advancement in the personalization of Gynaecology/ Obstetric and Mental Hâ¦ https://t.co/cPzB5uISvr,1
341,How can you support and protect your teams #MentalHealth and #Wellbeing? enei have developed a suite of e-learningâ¦ https://t.co/ZYNZuIszVW,1
342,Stolen Reflection\r\n\r\nI know I'm in the same place. Everything looks familiar.\r\n\r\nBut everything also looks... differentâ¦ https://t.co/Jpum9RPDzF,1
343,@ClaireJHartnell @MarinaHyde The mental health dilemma writ large isnât it? Celebrity can do the âFeng shui your caâ¦ https://t.co/79hVt9NXgB,1
344,âThose who believe they have âthought enoughâ and âlearned enoughâ are on a downward trajectory of increasingâ¦ https://t.co/0VuS2CZahy,1
345,Nothing beat a morning run ðââï¸ ðââï¸ð¥³ð¥³ðð¼ðð¼ #gratitude #mentalhealth #runner #felizsabadoatodos #correr #sol #playaâ¦ https://t.co/hfhjQJS3kt,1
346,ðððsound on \r\n\r\nWhat is your thing...the thing that tunes out the rest of the world for you...\r\n\r\nDo it todayðâ¦ https://t.co/6ImxbG0lra,1
347,â¤ï¸ MOVE FORWARD. Your THOUGHTS are POWERFUL.\r\n\r\n#Transformation #Mindset #inspiration #success #selfcareâ¦ https://t.co/khogMdJDfK,1
348,My heart goes out to #PrinceHarry #mentalhealth matters https://t.co/qSpdFtLKoa,1
349,Donate today: https://t.co/rUziFIUgEB\r\n\r\n#Donate #mentalhealth #mentalwellbeing #emotions #CovidIndiaâ¦ https://t.co/1ckMSApbmC,1
350,UK hospitals accused of burying dozens of patient safety reports https://t.co/jSpA8ueAgT\r\n#mentalhealth #patients #NHS #safetyreports,1
351,"An excellent article discussing psychological safety, mental health and back to office anxiety. #safetyâ¦ https://t.co/ZVdPBmRBdB",1
352,"The threat of #Covid19 to ourselves, our loved ones, and our community can lead to worry, fear, sadness, even hopelâ¦ https://t.co/2RFaSg33vs",1
353,Anyone else sleep all day to wake up to ESO on the brain? Smoking life away. !battle for Stream Raidersâ¦ https://t.co/Jc7Hhs6uSW,1
354,"How has the #pandemic affected wellbeing in the UK? Feelings of worthwhileness, life satisfaction and happiness felâ¦ https://t.co/rUv95gI1L8",1
355,"When I'm upset mentally my go-to is to buy a new purse. Let's be clear, I rarely use one for more than 2 weeks &amp; dâ¦ https://t.co/C0uXe54Q3n",1
356,"I'm the kind of person that tries to think their way through problems, not realizing some problems just have no cleâ¦ https://t.co/vfkKZENXWq",1
357,I'm sure some people may find the diagnosis 'emotionally unstable personality disorder' useful but I increasingly sâ¦ https://t.co/qWPv21BDfI,1
358,"As a #victim, when you're caught in the cycle of #abuse, you need hard evidence b/c they've taken any confidence yoâ¦ https://t.co/IG7Utrsw2e",1

In [21]:
depressive_dataset.to_csv("data/final_depressive_dataset.csv", index=False)
print("Depressive dataset saved..")

Depressive dataset saved..

### Prepare random_1

In [29]:
random_1 = pd.read_csv("data/datasets/random_tweets.csv", encoding="latin-1")
random_1.head()

,1.04075205160362E+018,2018-09-15,05:29:59,India Standard Time,8.58006390413169E+017,CaiyaJae,@tori_schleicher Iâm weak ð,1,0,2,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,1.040752e+18,2018-09-15,05:29:59,India Standard Time,4.177066e+09,RyanL1872,"Watch out @DundeeFC YT, @Burns1872 is ready ð¬ð§ pic.twitter.com/wL9pLlobaA",0,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.040752e+18,2018-09-15,05:29:59,India Standard Time,2.557082e+09,SirLitness,Me vs the world.,1,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.040752e+18,2018-09-15,05:29:59,India Standard Time,2.281425e+08,oneofthe5daves,@Twitter I heard everyone knows at least 5 Dave / Davids,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.040752e+18,2018-09-15,05:29:59,India Standard Time,2.858842e+08,ThatWeissGuy,"Paranoia about the ""death of print"" has become a self-fulfilling prophecy where anxious editors and writers have abandoned any pretext of sound judgement in favor of mainlining rat poison cut with...",1,2,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.040752e+18,2018-09-15,05:29:59,India Standard Time,1.037502e+18,QUEENbAE408,"@ChrisV1988 Haha babe, it supposed to look like that. ðð and thank you baby, you fiiinnnnneeeee too ððð",0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
random_1 = random_1.iloc[:, lambda random_1: [6]]
random_1.head()

                                                                                                                                                                          @tori_schleicher Iâm weak ð
0                                                                                                                          Watch out @DundeeFC YT, @Burns1872 is ready ð¬ð§ pic.twitter.com/wL9pLlobaA
1                                                                                                                                                                                         Me vs the world.
2                                                                                                                                                 @Twitter I heard everyone knows at least 5 Dave / Davids
3  Paranoia about the "death of print" has become a self-fulfilling prophecy where anxious editors and writers have abandoned any pretext of sound judgement in favor of mainlining rat poison cut with...
4                                                                                   @ChrisV1988 Haha babe, it supposed to look like that. ðð and thank you baby, you fiiinnnnneeeee too ððð

In [31]:
random_1.columns = ["Tweet"]
random_1.head()

                                                                                                                                                                                                     Tweet
0                                                                                                                          Watch out @DundeeFC YT, @Burns1872 is ready ð¬ð§ pic.twitter.com/wL9pLlobaA
1                                                                                                                                                                                         Me vs the world.
2                                                                                                                                                 @Twitter I heard everyone knows at least 5 Dave / Davids
3  Paranoia about the "death of print" has become a self-fulfilling prophecy where anxious editors and writers have abandoned any pretext of sound judgement in favor of mainlining rat poison cut with...
4                                                                                   @ChrisV1988 Haha babe, it supposed to look like that. ðð and thank you baby, you fiiinnnnneeeee too ððð

In [32]:
random_1["Depressive"] = 0
random_1.head()

,Tweet,Depressive
0,"Watch out @DundeeFC YT, @Burns1872 is ready ð¬ð§ pic.twitter.com/wL9pLlobaA",0
1,Me vs the world.,0
2,@Twitter I heard everyone knows at least 5 Dave / Davids,0
3,"Paranoia about the ""death of print"" has become a self-fulfilling prophecy where anxious editors and writers have abandoned any pretext of sound judgement in favor of mainlining rat poison cut with...",0
4,"@ChrisV1988 Haha babe, it supposed to look like that. ðð and thank you baby, you fiiinnnnneeeee too ððð",0

### Prepare random_2

In [33]:
random_2 = pd.read_csv("data/datasets/sentiment140.csv", encoding="latin-1")
random_2.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [34]:
random_2.tail()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best feeling ever
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me for details
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [35]:
random_2.columns = ["0", "1", "2", "3", "4", "Tweet"]
random_2.head()

,0,1,2,3,4,Tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [37]:
random_2 = random_2[random_2["0"]==4]
random_2.head()

,0,1,2,3,4,Tweet
799999,4,1467822272,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,ersle,I LOVE @Health4UandPets u guys r the best!!
800000,4,1467822273,Mon Apr 06 22:22:45 PDT 2009,NO_QUERY,becca210,im meeting up with one of my besties tonight! Cant wait!! - GIRL TALK!!
800001,4,1467822283,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,Wingman29,"@DaRealSunisaKim Thanks for the Twitter add, Sunisa! I got to meet you once at a HIN show here in the DC area and you were a sweetheart."
800002,4,1467822287,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,katarinka,"Being sick can be really cheap when it hurts too much to eat real food Plus, your friends make you soup"
800003,4,1467822293,Mon Apr 06 22:22:46 PDT 2009,NO_QUERY,_EmilyYoung,@LovesBrooklyn2 he has that effect on everyone

In [40]:
random_2 = random_2.loc[:, ["Tweet"]]

In [42]:
random_2["Depressive"] = 0
random_2.head()

,Tweet,Depressive
799999,I LOVE @Health4UandPets u guys r the best!!,0
800000,im meeting up with one of my besties tonight! Cant wait!! - GIRL TALK!!,0
800001,"@DaRealSunisaKim Thanks for the Twitter add, Sunisa! I got to meet you once at a HIN show here in the DC area and you were a sweetheart.",0
800002,"Being sick can be really cheap when it hurts too much to eat real food Plus, your friends make you soup",0
800003,@LovesBrooklyn2 he has that effect on everyone,0

## Prepare final_non_depressive_dataset
### The dataset will be prepared by merging random_1 & random_2

In [44]:
dataFrames = [random_1, random_2]
non_depressive_dataset = pd.concat(dataFrames)
print(f"No. of records : {len(non_depressive_dataset)}")

No. of records : 876152

In [45]:
non_depressive_dataset.head()

,Tweet,Depressive
0,"Watch out @DundeeFC YT, @Burns1872 is ready ð¬ð§ pic.twitter.com/wL9pLlobaA",0
1,Me vs the world.,0
2,@Twitter I heard everyone knows at least 5 Dave / Davids,0
3,"Paranoia about the ""death of print"" has become a self-fulfilling prophecy where anxious editors and writers have abandoned any pretext of sound judgement in favor of mainlining rat poison cut with...",0
4,"@ChrisV1988 Haha babe, it supposed to look like that. ðð and thank you baby, you fiiinnnnneeeee too ððð",0

In [46]:
non_depressive_dataset.tail(10)

,Tweet,Depressive
1599989,WOOOOO! Xbox is back,0
1599990,@rmedina @LaTati Mmmm That sounds absolutely perfect... but my schedule is full. I won't have time to lay in bed until Sunday. Ugh!!,0
1599991,ReCoVeRiNg FrOm ThE lOnG wEeKeNd,0
1599992,@SCOOBY_GRITBOYS,0
1599993,"@Cliff_Forster Yeah, that does work better than just waiting for it In the end I just wonder if I have time to keep up a good blog.",0
1599994,Just woke up. Having no school is the best feeling ever,0
1599995,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta,0
1599996,Are you ready for your MoJo Makeover? Ask me for details,0
1599997,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur,0
1599998,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H,0

In [47]:
non_depressive_dataset.to_csv("data/final_non_depressive_dataset.csv", index=False)
print("Non depressive dataset saved..")

Non depressive dataset saved..